## As Coordinator, you are not responsible for deploying this file. Deployment is handled by CrunchdDao.

services:

  webto3:
    image: 728958649654.dkr.ecr.eu-west-1.amazonaws.com/webto3
    container_name: webto3
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      SOLANA_ENV: ${SOLANA_ENV:-devnet}
      TOURNAMENT_API_BASE_URL: ${TOURNAMENT_API_BASE_URL:-https://api.hub.crunchdao.com}
      TOURNAMENT_API_KEY: ${TOURNAMENT_API_KEY:?error}
    volumes:
      - ./deployment/solana/config:/root/.config/solana/

  model-orchestrator:
    build:
      context: https://github.com/crunchdao/model-orchestrator.git
    environment:
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:?error}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:?error}
      AWS_DEFAULT_REGION: ${AWS_REGION:-eu-west-1}
    volumes:
      - ./deployment/model-orchestrator/data:/app/data
      - ./deployment/model-orchestrator/config/:/app/config/
    command: [ "--configuration-file", "/app/config/orchestrator.yml" ]
    depends_on:
      - webto3

  db-backup:
    image: tiredofit/db-backup:latest
    restart: always
    environment:
      # --- DB01: YOUR POSTGRES DB ---
      - DB01_TYPE=pgsql
      - DB01_HOST=postgres              # Must match your postgres service name
      - DB01_NAME=${POSTGRES_DB:?error}
      - DB01_USER=${POSTGRES_USER:?error}
      - DB01_PASS=${POSTGRES_PASSWORD:?error}
      # --- BACKUP SCHEDULE ---
      - DB01_BACKUP_INTERVAL=1440   # 24 hours
      - DB01_BACKUP_BEGIN=0000       # Midnight
      - DB01_CLEANUP_TIME=10080      # Keep local for 7 days (in minutes)
      # --- STORAGE: AWS S3 ---
      - DB01_BACKUP_LOCATION=s3
      - DB01_S3_REGION=eu-west-3
      - DB01_S3_BUCKET=crunchdao--backup
      - DB01_S3_PATH=databases/synth-mainnet
      - DB01_S3_KEY_ID=${AWS_ACCESS_KEY_ID:?error}
      - DB01_S3_KEY_SECRET=${AWS_SECRET_ACCESS_KEY:?error}

    networks: [ condornet ]