x-common-env:
  environment: &common-db-env
    POSTGRES_HOST: ${POSTGRES_HOST:-postgres}
    POSTGRES_PORT: ${POSTGRES_PORT:-5432}
    POSTGRES_USER: ${POSTGRES_USER:-condorgame}
    POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-condorgame}
    POSTGRES_DB: ${POSTGRES_DB:-condorgame}

x-common-build: &common-build
  build:
    context: ${PROJECT_DIR:-./}
    dockerfile: Dockerfile

services:
  postgres:
    image: postgres:15
    environment:
      <<: *common-db-env
    container_name: condor-postgres
    restart: always
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}" ]
      interval: 2s
      timeout: 5s
      retries: 20
      start_period: 10s
    volumes:
      - ./deployment/postgres/data:/var/lib/postgresql/data
    networks: [ condornet ]

  init-db:
    <<: *common-build
    environment:
      <<: *common-db-env
    # todo improve and handle migration
    command: [ "python", "-m", "condorgame_backend.infrastructure.db.init_db" ]
    depends_on:
      postgres:
        condition: service_healthy
    networks: [ condornet ]

  predict-worker:
    <<: *common-build
    environment:
      <<: *common-db-env
      MODEL_RUNNER_NODE_HOST: ${MODEL_RUNNER_NODE_HOST:-model-orchestrator}
      MODEL_RUNNER_NODE_PORT: ${MODEL_RUNNER_NODE_PORT:-9091}
    restart: always
    command: [ "python", "-m", "condorgame_backend.workers.predict_worker" ]
    depends_on:
      init-db:
        condition: service_completed_successfully
      model-orchestrator:
        condition: service_started
    networks: [ condornet ]

  score-worker:
    <<: *common-build
    environment:
      <<: *common-db-env
    restart: always
    command: [ "python", "-m", "condorgame_backend.workers.score_worker" ]
    depends_on:
      init-db:
        condition: service_completed_successfully
    networks: [ condornet ]

  daily-synth-score-worker:
    <<: *common-build
    environment:
      <<: *common-db-env
    restart: always
    command: [ "python", "-m", "condorgame_backend.workers.daily_synth_score_worker" ]
    depends_on:
      init-db:
        condition: service_completed_successfully
    networks: [ condornet ]

  report-worker:
    <<: *common-build
    environment:
      <<: *common-db-env
    restart: always
    command: [ "python", "-m", "condorgame_backend.workers.report_worker" ]
    ports:
      - "8000:8000"
    depends_on:
      init-db:
        condition: service_completed_successfully
    networks: [ condornet ]

  # required only for production environment
  webto3:
    container_name: webto3
    restart: unless-stopped
    ports:
      - "3000:3000"
    networks: [ condornet ]
    profiles: [ production]

  model-orchestrator:
    container_name: model-orchestrator
    restart: unless-stopped
    init: true
    ports:
      - "9091:9091"
    networks: [ condornet ]

  documentation:
    image: squidfunk/mkdocs-material
    container_name: mkdocs-local
    command: [ "serve", "-a", "0.0.0.0:8000" ]
    ports:
      - "8080:8000"
    volumes:
      - ${PROJECT_DIR:-./}:/docs/


networks:
  condornet:
    driver: bridge
    name: condornet
