x-common-env:
  environment: &common-db-env
    POSTGRES_HOST: ${POSTGRES_HOST:-postgres}
    POSTGRES_PORT: ${POSTGRES_PORT:-5432}
    POSTGRES_USER: ${POSTGRES_USER:-condorgame}
    POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-condorgame}
    POSTGRES_DB: ${POSTGRES_DB:-condorgame}

x-common-build: &common-build
  build:
    context: ${PROJECT_DIR:-./}
    dockerfile: Dockerfile

services:
  postgres:
    image: postgres:15
    environment:
      <<: *common-db-env
      READONLY_USER_PASSWORD: ${READONLY_USER_PASSWORD:-readonly}
    container_name: condor-postgres
    restart: always
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}" ]
      interval: 2s
      timeout: 5s
      retries: 20
      start_period: 10s
    volumes:
      - ./deployment/postgres/data:/var/lib/postgresql/data
      - ./deployment/postgres/init-scripts:/docker-entrypoint-initdb.d
    networks: [ condornet ]

  init-db:
    <<: *common-build
    environment:
      <<: *common-db-env
    # todo improve and handle migration
    command: [ "python", "-m", "node_template.infrastructure.db.init_db" ]
    depends_on:
      postgres:
        condition: service_healthy
    networks: [ condornet ]

  predict-worker:
    <<: *common-build
    environment:
      <<: *common-db-env
      MODEL_RUNNER_NODE_HOST: ${MODEL_RUNNER_NODE_HOST:-model-orchestrator}
      MODEL_RUNNER_NODE_PORT: ${MODEL_RUNNER_NODE_PORT:-9091}
      MODEL_RUNNER_TIMEOUT_SECONDS: ${MODEL_RUNNER_TIMEOUT_SECONDS:-60}
      CHECKPOINT_INTERVAL_SECONDS: ${CHECKPOINT_INTERVAL_SECONDS:-60}
      CRUNCH_ID: ${CRUNCH_ID:-condorgame}
      MODEL_BASE_CLASSNAME: ${MODEL_BASE_CLASSNAME:-condorgame.tracker.TrackerBase}
      INFERENCE_INPUT_BUILDER: ${INFERENCE_INPUT_BUILDER:-node_template.extensions.default_callables:default_build_inference_input}
      INFERENCE_OUTPUT_VALIDATOR: ${INFERENCE_OUTPUT_VALIDATOR:-node_template.extensions.default_callables:default_validate_inference_output}
      RAW_INPUT_PROVIDER: ${RAW_INPUT_PROVIDER:-node_template.extensions.default_callables:default_provide_raw_input}
      PREDICTION_SCOPE_BUILDER: ${PREDICTION_SCOPE_BUILDER:-node_template.extensions.default_callables:default_build_prediction_scope}
      PREDICT_CALL_BUILDER: ${PREDICT_CALL_BUILDER:-node_template.extensions.default_callables:default_build_predict_call}
      PYTH_HERMES_URL: ${PYTH_HERMES_URL:-https://hermes.pyth.network}
      PYTH_TIMEOUT_SECONDS: ${PYTH_TIMEOUT_SECONDS:-5}
    restart: always
    command: [ "python", "-m", "node_template.workers.predict_worker" ]
    depends_on:
      init-db:
        condition: service_completed_successfully
      model-orchestrator:
        condition: service_started
    networks: [ condornet ]

  score-worker:
    <<: *common-build
    environment:
      <<: *common-db-env
      CHECKPOINT_INTERVAL_SECONDS: ${CHECKPOINT_INTERVAL_SECONDS:-60}
      SCORING_FUNCTION: ${SCORING_FUNCTION:-node_template.extensions.default_callables:default_score_prediction}
      MODEL_SCORE_AGGREGATOR: ${MODEL_SCORE_AGGREGATOR:-node_template.extensions.default_callables:default_aggregate_model_scores}
      LEADERBOARD_RANKER: ${LEADERBOARD_RANKER:-node_template.extensions.default_callables:default_rank_leaderboard}
      GROUND_TRUTH_RESOLVER: ${GROUND_TRUTH_RESOLVER:-node_template.extensions.default_callables:default_resolve_ground_truth}
      PYTH_HERMES_URL: ${PYTH_HERMES_URL:-https://hermes.pyth.network}
      PYTH_TIMEOUT_SECONDS: ${PYTH_TIMEOUT_SECONDS:-5}
    restart: always
    command: [ "python", "-m", "node_template.workers.score_worker" ]
    depends_on:
      init-db:
        condition: service_completed_successfully
    networks: [ condornet ]

  report-worker:
    <<: *common-build
    environment:
      <<: *common-db-env
    restart: always
    command: [ "python", "-m", "node_template.workers.report_worker" ]
    ports:
      - "8000:8000"
    depends_on:
      init-db:
        condition: service_completed_successfully
    networks: [ condornet ]

  # required only for production environment
  webto3:
    container_name: webto3
    restart: unless-stopped
    ports:
      - "3000:3000"
    networks: [ condornet ]
    profiles: [ production ]

  model-orchestrator:
    container_name: model-orchestrator
    restart: unless-stopped
    init: true
    ports:
      - "9091:9091"
    networks: [ condornet ]

  documentation:
    image: squidfunk/mkdocs-material
    container_name: mkdocs-local
    command: [ "serve", "-a", "0.0.0.0:8000" ]
    ports:
      - "8080:8000"
    volumes:
      - ${PROJECT_DIR:-./}:/docs/


networks:
  condornet:
    driver: bridge
    name: condornet
