services:
  postgres:
    image: postgres:15
    container_name: falcon2-postgres
    restart: always
    env_file: .env
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}" ]
      interval: 2s
      timeout: 5s
      retries: 20
      start_period: 10s
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: falcon2-redis
    restart: always
    command: [ "redis-server", "--appendonly", "yes" ]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  init_db:
    build:
      context: .
      dockerfile: Dockerfile
    # todo improve and handle migration
    env_file: .env
    command: [ "python", "-m", "falcon2_backend.infrastructure.db.init_db" ]
    depends_on:
      postgres:
        condition: service_healthy

  predict_worker:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file: .env
    command: [ "python", "-m", "falcon2_backend.workers.predict_worker" ]
    depends_on:
      init_db:
        condition: service_completed_successfully
    extra_hosts:
      - "host.docker.internal:host-gateway"

  score_worker:
    build:
      context: .
    restart: always
    env_file: .env
    command: [ "python", "-m", "falcon2_backend.workers.score_worker" ]
    depends_on:
      init_db:
        condition: service_completed_successfully

volumes:
  postgres_data:
  redis_data: