services:
  webto3: {} # not required for local
  model-orchestrator:
    build:
      context: https://github.com/crunchdao/model-orchestrator.git
    container_name: model-orchestrator-local
    environment:
      DOCKER_NETWORK_NAME: ${MODEL_ORCHESTRATOR_NETWORK-condornet}
    volumes:
      - ./deployment/model-orchestrator-local/data/:/app/data/
      - ./deployment/model-orchestrator-local/config/:/app/config/
      - /var/run/docker.sock:/var/run/docker.sock # for local runner
    privileged: true # for local runner
    entrypoint: ["/app/config/docker-entrypoint.sh"]
    command:
      [
        "model-orchestrator",
        "dev",
        "--configuration-file",
        "/app/config/orchestrator.dev.yml",
        "--rebuild",
        "if-code-modified",
      ]

  report-ui:
    build:
      context: https://github.com/crunchdao/coordinator-webapp.git
      dockerfile: apps/starter/Dockerfile
      args:
        NEXT_PUBLIC_API_URL: "http://report-worker:8000"
        NEXT_PUBLIC_API_URL_MODEL_ORCHESTRATOR: "http://model-orchestrator:8001"
    container_name: report-ui
    ports:
      - "3000:3000"
    volumes:
      - ./deployment/report-ui/config:/app/config
      - ./deployment/report-ui/config:/app/apps/starter/config
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - report-worker
    networks: [condornet]
