models:
  - id: "1"
    submission_id: starter-submission
    crunch_id: [[crunch_id]]
    desired_state: RUNNING
    model_name: starter-model
    cruncher_name: local-dev
    cruncher_id: local-0001
