{
  "endpoints": {
    "leaderboard": "/reports/leaderboard"
  },
  "logs": {
    "containerNames": [
      "[[node_name]]-score-worker",
      "[[node_name]]-predict-worker",
      "[[node_name]]-report-worker",
      "[[node_name]]-model-orchestrator"
    ]
  }
}
